.container {
  display: grid;
  grid-template-rows: 1fr 4fr 30px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "header header header" "menu content content" "footer footer footer";
  grid-gap: 5px;
}

.header {
  grid-area: header;
  background-color: darkgrey;
}

.menu {
  grid-area: menu;
  background-color: lightslategrey;
  padding: 10px;
}

.content {
  grid-area: content;
  background-color: lightgrey;
  padding: 10px
}

.footer {
  grid-area: footer;
  background-color: lightslategrey;
  padding: 10px;
}

.center {
  margin: 0 auto
}

.pull-right {
  text-align: right;
}

.pull-center {
  text-align: center;
}
